.vehicle-calendar-picker {
    width: 100%;
    position: relative;
    margin: 0px;
    top: 0%;
    right: 0%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.tag-warning-text {
    position: relative;
    left: 20px;
}

.new-car-buttom {
    font-size: 20px;
    position: relative;
    bottom: 50px;
    left: 4px;
}

.back-save-button {
    position: relative;
    margin-left: 460px;
    margin-top: 5px;
}

.back-button {
    position: relative;
    margin-left: 500px;
    margin-top: 20px;
}

.privacy-selection{
    position: relative;
    left: 25%;
}