  body
  {
    background: linear-gradient(to right, #001529, #004793);
  }

  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }