body{
    background: linear-gradient(to right, #001529, #004793);
}

.edit-user-logout-buttom{
    position: relative;
    color: white;
    text-align: center;
    float: right;
    margin-top: 15px;
}