.App {
  font-family: sans-serif;
  text-align: center;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.Metric-info{
  font-size: 37px;
  text-align: center;
  margin: 0px 6px 0px 6px;
  font-weight: bold;
}

.Metric{
  font-weight: 200;
}

.Info-tag{
  font-size: 15px;
  text-align: center;
}

.Info{
  font-size: 24px;
  height: 30px;
}
